[submodule "vendor/eigen"]
	path = vendor/eigen
	url = https://gitlab.com/libeigen/eigen.git
[submodule "vendor/pybind11"]
	path = vendor/pybind11
	url = https://github.com/pybind/pybind11.git
	branch = stable
[submodule "vendor/fmt"]
	path = vendor/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "vendor/pugixml"]
	path = vendor/pugixml
	url = https://github.com/zeux/pugixml.git
[submodule "vendor/yaml-cpp"]
	path = vendor/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp.git
[submodule "vendor/HighFive"]
	path = vendor/HighFive
	url = https://github.com/BlueBrain/HighFive.git
